@import './variables.less';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  // align-items: center;
  margin: 0 auto;
  padding: 1em;

  header {
    width: fit-content;
    // opacity: 0;

    transition: opacity ease-in 2s;
    h1 {
      a,
      a:active,
      a:hover {
        border-bottom: 0;
      }
      a:hover {
        color: @red;
      }
      margin-bottom: 0;
      font-size: 3em;
    }
    p {
      font-family: monospace;
    }

    &.first-page {
      opacity: 1;
    }

    &.back-link {
      font-family: monospace;
      animation: slide-in 0.1s ease-in-out forwards;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(-2rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.post-card {
  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  time {
    font-size: 0.85em;
    text-transform: uppercase;
    font-family: monospace;
  }
  p {
    margin-top: 0.5em;
  }
}

div.post-container {
  span.block-info * {
    font-size: 1em;
    display: inline-block;
    color: @dark-gray;
  }
  .title {
    margin-bottom: 0;
  }
  .date {
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: monospace;
  }
  p > code {
    background-color: @gray;
    border: 1px solid @dark-gray;
    color: @black;
    padding: 0.2em;

    &:after,
    &:before {
      content: none;
    }
  }
  blockquote {
    text-align: left;
    padding: 0.5em;
    font-size: 1.01em;
    position: relative;
    right: 0;
    background: @gray;
    box-shadow: -2px 0 0 @black, -4px 0 0 @gray, -7px 0 0 @black;
    .author {
      text-align: right;
      text-decoration: italic;
    }
  }
}
