@require './index.styl';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  // align-items: center;
  margin: 20px auto;
}

.wrapper header {
  h1 {
    margin-bottom: 0;
    font-size: 3em;
  }
}

.post-card {
  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  time {
    font-size: .85em;
  }
  p {
    margin-top: .5em;
  }
}
